html {
    overflow-x: hidden;
}

body {
    height: 100vh;
    background: #121212;
    overflow: hidden;
    margin: 0px;
    color: #e3e0ee;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Arial', sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #060509;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #e3e0ee;
    z-index: 9999;
}

.overlay input {
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    background-color: #e3e0ee;
    border: none;
    outline: none;
    border-radius: 5px;
}

.overlay button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #6646c2;
    border: none;
    color: #e3e0ee;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.container {
    display: flex;
    width: 200vw;
    height: 100vh;
    transition: transform 0.4s ease-in-out;
    position: relative;
}

.chat-list {
    width: 100vw;
    background: #1a1c1e;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
}

.chat-header {
    position: flex;
    top: 0;
    left: 0;
    height: 8%;
    background: #0a0613;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    font-size: 16px;
    z-index: 2;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.chat-header svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

.chat-header svg:hover {
    opacity: 0.7;
}

.chat-header span {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background 0.2s ease-in-out;
}

#copy-perso-id {
    background: #3a3a3a;
    padding: 6px 12px;
    border-radius: 5px;
}

#copy-perso-id:hover {
    background: #4a4a4a;
}

.chat-bottom-bar {
    background-color: #0a0712;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 7;
}

.chat-items {
    flex: 1;
    overflow-y: auto;
    background-color: #060509;
}

.chat-item {
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
    align-items: center;
    min-height: 50px;
    background-color: #0f0d14;
    height: 9%;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.chat-item::before {
    content: ''; 
    position: absolute;
    bottom: 0;
    left: 20vw;
    min-height: 30px;
    width: 80vw;
}

.chat-avatar {
    width: 45px;
    height: 45px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #444;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    margin-right: 12px;
}

.chat-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chat-name {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.chat-message {
    margin-top: 5px;
    font-size: 10px;
    color: #554884;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-item:hover {
    background: #151221;
}

.chat-view {
    width: 100vw;
    height: 100vh;
    background-image: #1a1c1e;
    display: flex;
    flex-direction: column;
    transform: translateX(0);
    transition: transform 0.4s ease-in-out;
}

.chat-topbar {
    background: #1e1e1e;
    color: white;
    height: 8%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 20px;
    border-bottom: 1px solid #333;
}

.back-button {
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
    }
.messages {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word; 
    align-items: flex-start;
    scroll-behavior: smooth;
    }

.messages::-webkit-scrollbar-thumb {
    background: transparent;
}

.messages::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.message {
    padding: 10px;
    border-radius: 15px;
    max-width: 80%;
    width: fit-content;
}

.message-sent {
    background: #6200ea;
    color: white;
    margin-right: 10px;
    align-self: flex-end;
}

.message-received {
    background: #444;
    color: white;
    margin-left: 10px;
    align-self: flex-start;
}

.input-container {
    display: flex;
    padding: 10px;
    margin: 10px;
}

.input-container input {
    flex: 1;
    background-color: #313133;
    padding: 10px;
    border: none;
    outline: none;
    height: 20px;
    border-radius: 15px;
}

.input-container button {
    margin-left: 10px;
    padding: 10px;
    background: #6200ea;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 15px;
}

.add-chat-button {
    position: absolute;
    bottom: 5%;
    right: 20px;
    width: 45px;
    height: 45px;
    background: #412d78;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 3;
    transition: transform 0.4s ease-in-out;
}

.add-chat-button:hover {
    background: #005ecb;
}

.add-chat-form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.add-chat-form .form-container {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.add-chat-form input {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    background: #333;
    border: none;
    border-radius: 5px;
    color: white;
}

.add-chat-form button {
    width: 100%;
    padding: 10px;
    background: #6200ea;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.add-chat-form button:hover {
    background: #3700b3;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background-color: #0e0d11;
    color: #84828c;
    padding: 40px 20px;
    transform: translateX(-105%);
    transition: transform 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    z-index: 5;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar-button {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 5%;
    margin-bottom: 0.5rem;
    background: transparent;
    border: none;
    font-size: 16px;
    color: inherit;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.1s ease-in;
}
.sidebar-button:hover {
    color: #e3e0ee;
}

.open-sidebar-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background: #6200ea;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.parameter-page {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 6;
    flex-direction: column;
}

.parameter-header svg {
    cursor: pointer;
    color: #fff;
    fill: currentColor;
    margin-right: 1rem;
    transition: color 0.2s, transform 0.2s;
  }
  
  .parameter-header svg:hover {
    color: #ff4d4d;
    transform: scale(1.1);
  }

.parameter-header {
    display: flex;
    background-color: #0a0613;
    padding: 20px;
    width: 100%;
    height: 5%;
}
.parameter-buttons {
    display: flex;
    background-color: #060509;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}
.parameter-button {
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
    align-items: center;
    min-height: 50px;
    background-color: #0f0d14;
    height: 9%;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.dark-background-sidebar-on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #0000001c;
    display: none;
    flex-direction: column;
    color: white;
    z-index: 4;
}

&
#user-id {
    font-size: 7px;
} 